* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  background: #c3eeff;
  font-family: "Open Sans";
  background-color: #fdeff5; }

nav {
  background-color: #3c3c3c;
  top: 0px;
  position: fixed;
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.8px;
  z-index: 33; }
  nav .logo-nav {
    height: 43px;
    margin-left: 20px; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      color: #fdeff5;
      text-decoration: none; }
      nav ul li a:hover {
        color: hotpink; }
    nav ul li .de {
      margin-left: 10px;
      color: hotpink; }
    nav ul li .en {
      padding-left: 10px;
      border-left: ivory 1px solid; }
  nav ul:nth-last-child(1) li {
    margin-right: 10px; }
  nav ul:nth-last-child(2) li {
    margin-left: 20px; }
    nav ul:nth-last-child(2) li:nth-last-child(1) {
      margin-left: 3px; }
  nav ul:nth-child(3) {
    margin-right: 10px; }

section {
  width: 100%;
  height: 100vh; }

.main {
  font-family: "Righteous";
  color: white;
  margin-top: 68px;
  display: flex; }
  .main h1 {
    background-color: #3c3c3c;
    margin-top: 38px;
    font-size: 35px;
    padding: 20px; }
  .main p {
    margin-top: 20px;
    font-size: 24px;
    background-color: #fad7e5;
    color: black;
    padding: 20px;
    letter-spacing: 4px; }
    .main p:nth-child(4) {
      font-size: 35px;
      background-color: #3c3c3c;
      padding: 20px 47px;
      color: white; }
  .main div:nth-child(1) {
    margin: 15px 0 0 12%; }
  .main div:nth-child(2) {
    padding: 95px 0 0 0;
    margin-left: -50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

.rectangle {
  background-color: #fad7e5;
  position: absolute;
  width: 57%;
  height: 95%;
  z-index: -2;
  left: -31%;
  top: -134px;
  transform: rotate(45deg); }

.rectangle2 {
  left: 78%;
  top: 581px;
  z-index: -2; }

.rectangle-left {
  background-color: #fdeff5;
  width: 20%;
  height: 20%;
  transform: skew(-45deg);
  z-index: 2;
  position: relative;
  left: -15%; }

.moni1 {
  z-index: -1; }

.about {
  background-color: white;
  z-index: 2;
  height: 110vh; }

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -87px; }
  .about-cont p {
    padding: 63px 1px 11px 146px; }
  .about-cont .about-cont-inside {
    display: flex; }
    .about-cont .about-cont-inside div {
      margin-top: -120px;
      padding-right: 50px; }

h2, h1, button {
  letter-spacing: 4px;
  font-family: "Righteous"; }

h2 {
  font-size: 48px;
  background-color: #fdeff5;
  padding: 20px 30px; }

button {
  font-size: 29.52px;
  background-color: #ef476f;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white; }

.Rounded_Rectangle_1 {
  border-radius: 10px;
  background-color: #ef476f;
  position: absolute;
  left: 2448px;
  top: 1738px;
  width: 210px;
  height: 62px;
  z-index: 43; }
